# PCF857x GPIO configuration options

# Copyright (c) 2022 Ithinx
# Copyright (c) 2023 Mr Beam Lasers GmbH
# Copyright (c) 2023 Amrith Venkat Kesavamoorthi <amrith@mr-beam.org>
# SPDX-License-Identifier: Apache-2.0

menuconfig GPIO_PCF857X
	bool "PCF857X I2C GPIO chip"
	default y
	depends on DT_HAS_NXP_PCF857X_ENABLED
	select I2C
	help
	  Enable driver for PCF857X I2C GPIO chip.

config GPIO_PCF857X_SYS_INIT_GEN
	bool
	default y
	depends on GPIO_PCF857X
	help
	  Enables generation of a SYS_INIT priority for the PCF857X driver via
	  subsys/sys_init_gen, based on this symbol's Kconfig dependencies.
